#getImage {
    width: 1000px;
    height: 600px;
    border: 4px solid #a1a1a1;
}

div {
    text-align: center;
}

.img {
  width: 1000px;
  height: 600px;
  border: 4px solid #a1a1a1;
  transition: 0.6s;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;;
}

/* ////////////////// */

.button-20 {
  appearance: button;
  background-color: #911F27;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #911F27;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #630A10;
  border-color: #630A10;
}

.button-20:focus {
  background-color: #911F27;
  border-color: #911F27;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
  background-color: #630A10;
  background-image: none;
  border-color: #630A10;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.button-20 a{
  text-decoration: none;
  color: #FFFFFF;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


.images{
  animation: fadeIn 2s forwards;
}

#image2{
  display: none;
}

#image3{
  display: none;
}

#image4{
  display: none;
}

#image5{
  display: none;
}

#image6{
  display: none;
}

#image7{
  display: none;
}

#image8{
  display: none;
}

#image9{
  display: none;
}

#image10{
  display: none;
}

#image11{
  display: none;
}

#image12{
  display: none;
}

#image13{
  display: none;
}

#image14{
  display: none;
}

#image15{
  display: none;
}

#image16{
  display: none;
}

#image17{
  display: none;
}

#image18{
  display: none;
}

#image19{
  display: none;
}

#image20{
  display: none;
}

#image21{
  display: none;
}

#image22{
  display: none;
}

#image23{
  display: none;
}

#image24{
  display: none;
}